$color-primary-one: hsl(225, 100%, 94%);
$color-primary-two: hsl(245, 75%, 52%);
$color-neutral-one: hsl(225, 100%, 98%);
$color-neutral-two: hsl(224, 23%, 55%);
$color-neutral-three: hsl(223, 47%, 23%);
