*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:is(h1, h2, h3, h4, h5) {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
}
